.match-container {
  width: 400
px
;
    height: 600
px
;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1
px
 solid black;
    border-radius: 5
px
;
    background-color: white;
    box-shadow:rgb(0 0 0 / 6%) 0px 0px 5px; 
 
}

.header-Match-container { 
  box-sizing: border-box;
}

.match-h1 {
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.match-button {
  margin-left: 10px;
}

.header-itens {
  height: 50px;
  border-bottom: 1px solid lightgray;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  padding: 0px 10px;
  flex-shrink: 0;
}
/* .header-itens-configurations {
  cursor: pointer;
  transition: all 0.2s ease 0s;
} */